@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');


        /* LES TITRES ____________________________________________________________________________________ Les titres */

/* Titre principal de l'index */
h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 4em;
  text-shadow: 2px 2px rgba(50, 48, 67, 0.5);
}

/* Titre secondaire de l'index */
h2 {
  font-size: 1.5em;
  text-shadow: 0.7px 0.7px rgba(50, 48, 67, 0.5);
}

/* Titres principal pages internes */
h3 {
  font-family: 'Amatic SC', cursive;
  font-size: 3em;
  text-align: left;
  border-bottom: 2px solid white;
}

/* Titres secondaires pages internes */
h4 {
  font-family: 'Amatic SC', cursive;
  font-size: 1.5em;
  letter-spacing: 0.1em;
}

/* Sous-titres pages internes */
h5 {
  font-family: 'Amatic SC', cursive;
  font-size: 1.4em;

}


        /* LES PAGES */

/* Commun à toutes les pages __________________________________________________________________________Commun à toutes les pages*/

body {
  background-image: url(./images_corapo/fond-d-ecran.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: white;
  text-align: center;
  font-family: 'Mukta', cursive;
}

.copyright {
  font-size: 1em;
  font-family: 'Amatic SC', cursive;
  font-weight: 600;
  letter-spacing: 0.2px;
  color: rgb(50, 48, 67);

}

.credit {
  text-decoration: none;
  color:rgb(50, 48, 67);
  text-shadow: 0.5px 0.5px rgba(50, 48, 67, 0.5);
}

.credit:hover {
  color: rgb(50, 45, 45);
  text-shadow: 0.5px 0.5px rgb(50, 48, 67);
}


/* Commun aux pages secondaires __________________________________________________________________Commun aux pages secondaires */

main {
  width: 45%;
  margin: auto;
  padding: 20px 20px 20px 20px;
  background-color: rgba(43, 43, 43, 0.5);
  font-size: 1.2em;
  animation: 1s ease-out 0s 1 opacity;
}

@keyframes opacity {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

.return-button {
  width: 20px;
  height: 20px;
}

.return-button-link {
  text-align: right;
}


/* Index _____________________________________________________________________________________________________________Index */

header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: 1s ease-in-out 0s 1 chargement;
}

@keyframes chargement {
  from {
      transform: scale(0.3);
      transform-origin: center center;
  }
  to {
      transform: scale(1);
  }
}

.titre {
  border-top: 2px solid rgb(50, 48, 67);
  border-bottom: 2px solid rgb(50, 48, 67);
  color:rgb(50, 48, 67);
  margin-bottom: 50px;
  padding-bottom: 30px;
}

.sommaire {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sommaire_button {
  color:rgb(50, 48, 67);
  background-color: transparent;
  font-size: 1em;
  border: 1px solid rgb(50, 48, 67);
  margin: 10px 10px 20px 10px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  text-shadow: 0.5px 0.5px rgba(50, 48, 67, 0.5);;
  font-size: 1.2em;
  font-weight: 600;
}

.sommaire_button:hover {
  border: 2px solid rgb(50, 48, 67);
  transition: all 450ms linear;
}


/* Page Créations __________________________________________________________________________________________Créations */

#img_logo_corapo, #img_tout_par_dela, #img_j_invente_le_monde {
  width: 100%;
}

#textes {
  text-align: left;
}

#menu_extraits, #menu_tout_par_dela, #menu_j_invente_le_monde {
  font-family: 'Amatic SC', cursive;
  font-size: 1.7em;
  margin-top: 10px;
  margin-bottom: 10px;
}


/* Page Dates _____________________________________________________________________________________________________Dates */

#page_dates {
  text-align: right;
}

#petit_logo_dates {
  width: 30%;
}


/* Page A propos de nous _________________________________________________________________________________ A propos de nous*/

#page_a_propos {
  text-align: left;
}

#img_tatiana, #img_morgan {
  margin-left: 30px;
}

#bio {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

button {
  background-color: rgba(43, 43, 43, 0);
  color: white;
  font-family: 'Mukta', cursive;
  font-size: 1.5em;
  border-top: none;
  border-right: none;
  border-left: none;
}

button:hover {
  text-shadow: 1px 1px white;
}


/* Page Contact ____________________________________________________________________________________________Contact */

#bloc_contact {
  display: flex;
  justify-content: space-around;
}

#logo_contact  {
  width: 100%;
}

#border_gauche  {
  border-left: 0.7px solid white;
  padding-left: 30px;
}

#hello_asso, #instagram, #facebook, #presse_3C {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px black;
}

#hello_asso:hover, #instagram:hover, #facebook:hover, #presse_3C:hover {
  text-shadow: 2px 2px gray;
}



        /* RESPONSIVE ______________________________________________________________________________________ RESPONSIVE */

/* écran ordinateur de moitié : page secondaire plus larges */

@media only screen and (max-width: 950px) {
  main {
    width: 75%;
  }
}


/* écran ordinateur serré + mobile */

@media only screen and (max-width: 550px) {
  .sommaire {
    flex-direction: column;
  }

  header {
    margin: 20% 10% auto 10%;
  }

  h2 {
    font-size: 1.3em;
    text-shadow: none;
  }

  .sommaire_button {
    text-shadow: none;
  }

  #bloc_contact {
   flex-direction: column; 
  }
  
  #border_gauche  {
    border-left: none;
  }
}